.Chat-main 
  .Chat-main__group-info
    .left-header
      .small-title 
        = @group.name
      .small-member
        - @group.users.each do |user|
          =user.name
           
    .right-header
      = link_to edit_group_path(@group), class: "small-btn"  do
        edit
          
  .Chat-main__massage-list
    = render @messages


  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__inputBox
        = f.text_field :content, class: 'Form__inputBox__text', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputBox__image' do
          =icon('far','image')
          = f.file_field :image, class: 'Form__inputBox__image--file'
      = f.submit 'Send', class: 'Form__submitBtn'
        