.Side-bar
  .Side-bar__user-name
    .Side-box
      .Side-box__name 
        = current_user.name
      .Side-box__icons 
        = link_to new_group_path do
          = icon('far', 'edit')
      .Side-box__icon
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')
  .Side-bar__group-list
    - current_user.groups.each do |group|
      .Sid-bar__box
        = link_to group_messages_path(group), class: "box" do
          .Side-bar__box__name 
            = group.name
          .Side-bar__box__text 
            = group.show_last_message